body {
  background-color: #fff; /* Light version of --p-content-background. */
  color: #334155; /* Light version of --p-content-color. */
  font-family:
    Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #10b981;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18181b; /* Dark version of --p-content-background. */
    color: #fff; /* Dark version of --p-content-color. */
  }

  a {
    color: #34d399;
  }
}

td:last-child {
  padding-left: 1rem;
}
