/* stylelint-disable at-rule-no-unknown, no-invalid-position-at-import-rule */
@config "../../tailwind.config.ts";

@layer theme, base, components, utilities;

/* biome-ignore lint/correctness/noInvalidPositionAtImportRule: ignored using `--suppress` */
@import "tailwindcss/theme.css" layer(theme);

/* biome-ignore lint/correctness/noInvalidPositionAtImportRule: ignored using `--suppress` */
@import "tailwindcss/utilities.css" layer(utilities);

/* biome-ignore lint/correctness/noInvalidPositionAtImportRule: ignored using `--suppress` */
@import "tailwindcss-primeui";

/* biome-ignore lint/correctness/noInvalidPositionAtImportRule: ignored using `--suppress` */
@import "primeicons/primeicons.css";

body {
  *,
  ::before,
  ::after {
    box-sizing: initial;
  }

  .opencor {
    --border-color: var(--p-content-border-color);

    *,
    ::before,
    ::after {
      box-sizing: border-box;
    }

    background-color: var(--p-content-background);
    color: var(--p-content-color);
    margin: 0;
    font-family:
      Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;

    .p-component {
      transition: none !important;
    }

    .tippy-box[data-theme~='opencor'] ul {
      list-style: disc;
    }

    .tippy-box[data-theme~='opencor'] {
      background-color: var(--p-content-background);
      color: var(--p-content-color);
      box-shadow: 0 2px 8px var(--p-shadow-color, rgba(0, 0, 0, 0.15));
      border-radius: var(--p-content-border-radius);
    }

    .tippy-box[data-theme~='opencor'] > .tippy-arrow {
      color: var(--p-content-background);
    }

    a {
      color: var(--p-button-link-color);
    }

    :focus {
      outline: none !important;
    }
  }
}

html.opencor-dark-mode .opencor .tippy-box[data-theme~='opencor'] {
  box-shadow: 0 2px 8px var(--p-shadow-color-dark, rgba(255, 255, 255, 0.15));
}
