@import './base.css';

body {
  background-color: var(--p-content-background);
  color: var(--p-content-color);
}

a {
  color: var(--p-button-link-color);
}

.drop-area {
  border: 6px dashed;
  border-color: var(--p-gray-300);
}

@media (prefers-color-scheme: dark) {
  .drop-area {
    border-color: var(--p-gray-700);
  }
}

.main-menu {
  border-bottom: 1px solid var(--border-color);
}

.p-menubar {
  padding: 0.1rem !important;
  border: none !important;
}

.p-menubar-item-link {
  padding: 4px 8px !important;
}

.p-menubar-root-list {
  gap: 0.1rem !important;
}

.p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link > .p-menubar-submenu-icon {
  display: none !important;
}

.spinning-wheel {
  position: fixed !important;
  top: center;
  left: center;
  width: 50% !important;
  height: 50% !important;
  z-index: 99999;
}
