:root {
  --light-color: #24292e;
  --light-background: #ffffff;
  --light-shadow: #24292e13;

  --dark-color: #f6f8fa;
  --dark-background: #24292e;
  --dark-shadow: #f6f8fa13;
}

:root {
  --color: var(--light-color);
  --background: var(--light-background);
  --shadow: var(--light-shadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--dark-color);
    --background: var(--dark-background);
    --shadow: var(--dark-shadow);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color);
  background: var(--background);
}
